.write { 
    padding-top: 50px;   
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

input, textarea {
    color: #66bfbf;
    background-color: #020f18;
    border-style: none;
    outline: 0;
    border-bottom-color: 2px #93b6b6 solid;
    margin-bottom: 1px;
}

input:focus, textarea:focus {
    box-shadow: #66bfbf 2px 2px 4px 0px inset, #93b6b6 -2px -2px 4px 1px inset;
    border-radius: 7px;
}

.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #66bfbf;
    cursor: pointer;
    margin-right: 10px;
}

.writeIcon:hover {
    color: #72e4cb;
    background-color: #0a2f44;
}

.writeInput, .writeText {
    font-size: 30px;
    border: none;
    padding: 20px;
}

.writeInput {
    width: 70vw;
}

.writeText {
    width: 72vw;
}

.writeInput:focused {
    outline: none;
}

.writeText {
    font-size: 20px;
    height: 100vh;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: #66bfbf;
    background-color: #061c29;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .16);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.writeSubmit:hover {
    color: #72e4cb;
    background-color: #0a2f44;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}