.settings {
    display: flex;
}

.settingswrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: #b5c99a;
}

.settingsDeleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsDeleteTitle:hover {
    color: rgb(255, 94, 0);
}

.settingsForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.settingsProfilePicture {
    display: flex;
    align-items: center;
    margin: 10px 0;   
}

.settingsProfilePicture > img{
    width: 70px;
    height: 70px;
    border-radius: 7px;
}

.settingsProfilePictureIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #020f18;
    /* color:  */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsProfilePictureIcon:hover {
    color: #93dfdf;
    background-color: #06263d;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm >input {
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.settingsSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #66bfbf;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.settingsSubmit:hover {
    background-color: #427e7e;
}