.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(71, 105, 116, 0.5), 
        rgba(2, 45, 58, 0.5)), 
        url("https://wallpaper.dog/large/20414995.jpg");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
    font-size: 1rem;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor:pointer;
    background-color: #93b6b6;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.4s;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(137, 235, 194);
}

.loginButton:hover {
    background: #b5c99a;
    box-shadow: rgba(255, 255, 255, 0.5);
}


.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.adminLink {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    transition: .4s;
}

.adminLink:hover {
    color:rgb(103, 226, 235);
}

@media screen and (max-width: 768px) {
    .loginRegisterButton {
        display: none;
    }

    .loginButton {
        margin-top: 3rem;
        padding: .8rem 0;
        font-size: 1.2rem;
    }
}