.posts {
    flex: 9;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .posts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem auto .5rem;
    }
}