.title {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "Lora", serif;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: #b5c99a;
    font-family: "Josefin Sans", "sans-serif";
}

.aboutHeader {
    margin-bottom: 1rem;
}

.overseer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    color: rgb(2,0,12);
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 500px;
    height: 562px;
    padding: 1rem;
    text-align: center;
    background-color: #061c29;
    border-radius: .8rem;
    color: #66bfbf;
    /* overflow: hidden; */
    z-index: 1;
    transition: 0.4s;
}

.card:hover {
    color: #b5c99a;
}

.container {
    display: grid;
    place-items: center;
    position: relative;
    width: 508px;
    height: 570px;
    border-radius: 1rem;
    background: linear-gradient(50deg, rgb(0, 112, 84), rgb(5, 69, 99));
    overflow: hidden;
    margin: 1rem 1rem;
}


.musician {
    background-image: radial-gradient(#708896, #4c555a ), url(https://images.unsplash.com/photo-1600771488491-c22d42a9347d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.programmer {
    background-image: linear-gradient(#708896, #4c555a ), url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
}

.life {
    background-image: linear-gradient(#708896, #33383b ), url(https://petpress.net/wp-content/uploads/2020/01/81536682_192447375276262_2128183788650034141_n1.jpg);
}

.musician, .programmer, .life {
    background-size: cover;
    background-blend-mode: soft-light;
}

.informationText {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; */
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
}

.informationText:hover {
    opacity: 1;
    transform: translateY(0px);

}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo {
    background-color: #020f18;
    color: #66bfbf;
    padding: .6rem;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.4s;
    border: 4px solid rgb(0, 112, 84);
    opacity: 0;
}

.moreInfo:hover {
    background-color: #061c29;
    color: #b5c99a;
    border: 4px solid rgb(101, 207, 181);
    opacity: 1;
}

.container::before{
    content: "";
    position: absolute;
    width: 850px;
    height: 35px;
    border-radius: 1rem;
    top: 0; 
    right: 35px;
    transition: 1.9s;
    background: linear-gradient(50deg, rgb(101, 207, 181), rgb(95, 191, 236));
    transform: rotate(-45deg) translate(0, -100px);
}

.container:hover::before {
    animation: cardEffect 1.9s;
}

@keyframes cardEffect {
    100% {
        transform: rotate(-45deg) translate(0, 750px);
    }
}

.aboutHeaderSecondary {
    font-family: "Lora", serif;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 2rem;
        overflow: hidden;
        height: 100%;
    }
    .informationText {
        opacity: 1;
        transform: translateY(-10px);
        color: #b5c99a;
    }
    .informationText:hover {
        transform: translateY(-10px);
    }
    .card {
        width: 100%;
        height: 100%;
    }
}