.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    color: #b5c99a;
}

.singlePostEdit {
    float: right;
    font-size: 1rem;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: rgb(67, 231, 61);
}
.singlePostIcon:first-child:hover {
    color: rgb(136, 255, 132);
}

.singlePostIcon:last-child {
    color: rgb(184, 5, 184);
}
.singlePostIcon:last-child:hover {
    color: rgb(226, 49, 226);
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #93b6b6;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDescription {
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}