.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    color: #b5c99a;
}

.singlePostTitleInput {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    color: #e6f3d5;
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit {
    float: right;
    font-size: 1rem;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: rgb(67, 231, 61);
}
.singlePostIcon:first-child:hover {
    color: rgb(136, 255, 132);
}

.singlePostIcon:last-child {
    color: rgb(184, 5, 184);
}
.singlePostIcon:last-child:hover {
    color: rgb(226, 49, 226);
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #93b6b6;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDescription {
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostDescriptionInput {
    border: none;
    font-size: 18px;
    line-height: 25px;
    height: 40vh;
}

.singlePostAuthor {
    cursor: pointer;
    text-decoration: none;
    color: #66bfbf;
    margin-left: 5px;
    transition: 0.4s;
}

.singlePostAuthor:hover {
    color: #b5c99a;
}

.singleUpdateButton {
    border: none;
    background-color: rgb(67, 231, 61);
    padding: 5px;
    cursor: pointer;
    color: #000;
    transition: 0.2s;
    align-self: flex-end;
    width: 30%;
    border-radius: 7px;
    margin-top: 1rem;
}

.singleUpdateButton:hover {
    background-color: rgb(136, 255, 132);
}

.singlePostEditMobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .singlePostTitle {
        font-size: 3rem;
        text-align: left;
        margin: 1rem;
    }
    .singlePostDescription {
        font-size: 24px;
    }
    .singlePostInfo {
        flex-direction: column;
        font-size: 24px;
        text-align: left;
    }
    .singlePostInfo, .singlePostDescription {
        margin: 2rem;
    }
    .singlePostWrapper {
        padding: 0;
    }
    .singlePostDescriptionInput {
        margin: 2rem;
    }
    .singleUpdateButton {
        margin-right: 2rem;
    }
    .singlePost {
        width: 100%;
        margin: 1rem auto;
    }
    .singlePostDate {
        margin-top: 1rem;
    }
    .singlePostEditMobile {
        display: block;
        text-align: center;
        font-size: 3rem;
        justify-content: space-between;   
    }

    .singlePostEdit {
        display: none;
    }

    .fa-trash {
        margin-left: 6rem;
        padding-bottom: 2rem;
    }
}