.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    /* background-color: #fdfbfb; */
    background-color: #061c29ea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #66bfbf;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    color: #222;
    color: #b5c99a;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarImg {
    width: 80%;
    border-radius: 10px;
}

.sidebarItem > img {
    margin-top: 15px;
}

.sidebarItem > p {
    padding: 30px;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    color: #66bfbf;
}
.sidebarListItem:hover {
    color:#b5c99a;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    color: #444;
    color: #93b6b6;
    transition: 0.4s;
}

.sidebarIcon:hover {
    color: #b5c99a;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none
    }
}